*{
  font-style: italic;
  font-family: sans-serif;
}
*::selection{
  color: #f96f56;
  background-color: white;
}
body{
  background-color: #d6d6d6;

}
h3 a {
    position: absolute;
    top:50%;
    display: inline-block;
    color:#d6d6d6;
    text-decoration: none;
    font-family: fantasy;
    font-size: 1.9vw;
    font-weight:100;
    width: 20%;
    height: 75%;
    margin-top: -2.35vw;
    padding: 1.1vw 0 .25vw 1vw ;
    z-index: 1;
    transition-duration: .5s;
    transition-property: color;
    }
h3 a:hover{
  border-left: 4px solid #f96f6c;
  color: #f96f6c;
  transition-property: color;
  transition-duration: .7s;
}
nav {
  height:4.5vw;
  background-color: #2c2b30;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  overflow: hidden;
}
nav li a{
  position:relative;
   display: block;
   text-align: center;
   padding: 1vw 1.5vw;
   font-size: 1.9vw;
   color: #d6d6d6;
   text-decoration: none;
   transition-property: color;
   transition-duration: 0.6s;
   font-style: normal;
}
nav li a:hover{
  color: #f96f6c;
  border-bottom: .4vw solid #f96f6c;
}
nav li {
  float: left;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* side bar */

.side ul{
  position: absolute;
  padding-top: 3%;
  top:0 ;
  left: -8vw;
  list-style: none;
  background-color: #2c2b30;
  width: 16.5vw;
  height: 212%;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.side li a {
  display: block;
  padding: 1.3vw 0 1.3vw 7vw;
  font-size: 1.5vw;
  color: #d6d6d6;
  text-decoration: none;
  transition-duration: 0.6s;
  font-style: normal;
  text-transform: capitalize;
}
.side li a:hover{
  background-color: #d6d6d6;
  color: #2c2b30;}

/* search bar */

.se{
  position: fixed;
  top: 1vw;
  left: 27%;
  font-family: sans-serif;
  font-style: normal;
  font-size: 1.5vw;
  width: 30%;
  border: 2px solid #2c2b30 ;
  border-radius: .6vw ;
  color: #2c2b30;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  padding-left: 1%;
  outline: none;
}
.me{
  position: fixed;
  top: 1.2vw;
  left: 57.4%;
  font-size: 1.5vw;
  font-family: monospace;
  font-style: normal;
  border: 2px solid #f96f6c ;
  border-radius: 20px;
  background-color: #2c2b30;
  color: #f96f6c;
  text-decoration: none;
  width: 6%;
  transition-duration: 0.4s;
  z-index: 1;
  overflow: hidden;
}
.me:hover {
  background-color: #f96f6c;
  color: #2c2b30;
  border-color: #f96f6c;
}
.me::before{
  background: #f96f6c;
  content: "";
  width: 100%;
  height: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition-duration: .6s;
  transform: translate(-50%,-50%)rotate(-45deg);
}
.me:hover::before{
  height: 380%;
}

::placeholder{
  padding-left: 20%;
  font-size: 1.35vw;
}
/* the content */
.things{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 5%;
  margin-left: 12.5%;
  margin-right: .5%;
}
div.t  {
  width: calc(88%/4);
  border: 3px solid white;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2%;
}
div.container {
  text-align: center;
  padding: 4% 8%;
}
.buy {
font-size: 1.1vw;
font-family: serif;
font-weight: 700;
border: 2px solid #2c2b30 ;
border-radius: 12px;
background-color: #2c2b30;
color: #d6d6d6;
text-decoration: none;
transition-duration: 0.4s;
width: 50%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.buy:hover{
  background-color: #d6d6d6;
  color: #2c2b30;
}
.p {
  text-decoration: none;
  text-transform: uppercase;
  color: #f96f56;
  font-style: normal;
  font-family: fantasy;
  font-size: 1.5vw;
}
.p::selection{
  color: #f96f56;
  background-color: #2c2b30;
}
.ph{
  text-decoration: none;
  color: #2c2b30;
  font-style: normal;
  font-family: monospace;
  font-size: 1.3vw;
  text-transform: capitalize;
  overflow: hidden;
}
.things p {
  width: 100%;
  background-color: #2c2b30;
  border: 2px solid #2c2b30;
  border-radius: 15px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.things p a{
  font-weight: 700;
  font-style: normal;
  color: #d6d6d6;
}
.cr {
  position: absolute;
  top:1300px ;
  left: 33%;
  text-align: center;
  margin: 90px;
  color: #f96f56;
}
.price{
  color: #f96f56
}




/* intro */

.layerTop{
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--y);
  z-index: 999999;
  animation: 1s top;
  animation-fill-mode: forwards;
  animation-delay: .8s;
}

.layerBottom{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  background: var(--y);
  z-index: 999999;
  animation: 1s bottom;
  animation-fill-mode: forwards;
  animation-delay: .8s;

}

.layerCenter{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--x);
  font-size: 24px;
  font-weight: bold;
  z-index: 999999999;
  animation: 1s center;
  animation-fill-mode: forwards;
  animation-delay: .8s;
}

@keyframes top{
  from{
    top: 50%;
  }
  to{
    opacity: 0;
    top: 100%;
  }
}

@keyframes bottom{
  from{
    bottom: 50%;
  }
  to{
    opacity: 0;
    bottom: 100%;
  }
}

@keyframes center{
  from{
    display: block;
  }
  to{
    opacity: 0;
    display: none;
  }
}
